.content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.content_main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.07);
}

.content_main_top_text {
    width: 100%;
    min-height: 70px;
    color: white;
    border-radius: 10px 10px 0 0;
    background-color: rgb(142, 141, 146);
    font-size: 28px;
    padding-top: 22px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.02em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    cursor: default;
}

.periodical_info_container {
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
}

.periodical_info_block {
    cursor: default;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
    min-width: 300px;
    min-height: 150px;
    background-color: rgba(64, 52, 114, 0.068);
    padding-bottom: 20px;
}

.info_block_header {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 0 0;
    cursor: default;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: white;
    font-size: 16pt;
    background-color: rgba(64, 52, 114, 0.4);
    text-align: center;
    padding: 8px 15px;
    margin-bottom: 20px;
    width: 100%;
}

.periodical_info_container .row {
    width: 95%;
}

.top_up_button {
    align-self: end;
    font-size: 13pt;
    color: white;
    border: none;
    background-color: #27c18a;
    width: 220px;
    margin: 10px;
}

.top_up_button:hover {
    background-color: #27c18bee;
}

.top_up_button:focus {
    background-color: #19a775;
}

.periodical_info_block form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.periodical_info_block input {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.07);
    color: rgb(77, 77, 77);
    border-radius: 10px;
    font-size: 24pt;
    width: 170px;
    height: 60px;
    text-align: center;
    font-weight: 500;
    margin-top: 70px;
    margin-bottom: 65px;
}

.periodical_info_block input::placeholder {
    color: rgba(77, 77, 77, 0.26);
}